
<main class="main">
  <div class="container">
  <div class="columns">
    <div class="column mt-2">
      <div class="is-pulled-right">
        <button class="button is-primary mr-2">Export</button>
        <button class="button is-primary">Report</button>
      </div>
    </div>
    
  </div>

  <!-- <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/mapping" routerLinkActive="active">Mapping</a>
    </li>
    <li>
      <a routerLink="/report" routerLinkActive="active">Report</a>
  </ul> -->

  <router-outlet></router-outlet>
</div>
</main>


